div {
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: block;
    text-align: center;
}